html {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "PT Sans", "Open Sans", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: mintcream;
}

#main {
  margin: auto;
  padding: 25px;
  max-width: 45rem;
  color: darkslategray;
}
